* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: rgb(48, 46, 44);
  background-image: url("/images/NZMjnI.jpg");
  background-size: cover;
}

.circle {
  position: absolute;
  border-radius: 100%;
}

.mushroom {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.wrap-container {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  background-color: darkmagenta;
  text-align: center;
}

.form {
  position: fixed;
  top: 40%;
}

label {
  padding: 4px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}

#firstPlayer {
  margin: 10px;
}

#secondPlayer {
  margin: 10px;
}

#game-btn {
  cursor: pointer;
  text-align: center;
  position: absolute;
  margin: 10px auto;
}

.players {
  display: none;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.player1 {
  padding: 5px;
  font-size: 20px;
  color: white;
}

.player2 {
  padding: 5px;
  font-size: 20px;
  color: white;
}

#game-zone {
  height: calc(100vh - 50px);
  width: 100%;
  display: none;
  background-color: rgb(37, 172, 37);
  position: relative;
  margin: auto;
  align-content: center;
  background-image: url("/images/NZMjnI.jpg");
  background-size: cover;
}
